<header class="absolute left-0 right-0 top-0 z-40 h-16 bg-transparent px-safe pt-safe">
    <div class="container flex justify-between items-center h-full">
        <a href="/" class="logo">
            <img src="assets/logo.png" alt="Huly logo" width="71" height="24">
        </a>
        <nav>
            <ul class="flex">
                <li><a href="/pricing">Feature</a></li>
                <li><a href="/resources">Solution</a></li>
                <li><a href="/community">Integration</a></li>
                <li><a href="/download">Pricing</a></li>
            </ul>
        </nav>
    </div>
</header>