<section class="hero-section">
    <div class="hero-container">
        <div class="banner-inner">
            <h1 class="heading">Streamline your business effortlessly with <span>eAccords</span></h1>
            <p class="paragraph">
                Introducing the ultimate document signing solution trusted by businesses across every industry, from
                healthcare and finance to retail, technology, and beyond.
            </p>
            <button class="btn">
                Try It Free <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <img class="banner-image" src="assets/sign.2.png" alt="banner">
    </div>
</section>

<div class="feature-container">
    <div class="container-narrow">
        <h2>eAccords eSignature <span>Features</span></h2>
        <ul class="grid">
            <li>
                <i class="fa-solid fa-signature"></i>
                <h3 class="mt-5 font-title text-32 text-white">eSignature</h3>
                <p class="mt-3 text-15 font-light">
                    Creating legally-binding electronic signatures is a critical aspect of modern business
                    operations.
                </p>
            </li>
            <li class="relative">
                <i class="fa-regular fa-file-lines"></i>
                <h3 class="mt-5 font-title text-32 text-white">Fillable Fields</h3>
                <p class="mt-3 text-15 font-light">
                    eAccords eSignature platform typically offers a range of fillable fields to accommodate various
                    types of documents and agreements.
                </p>
            </li>
            <li class="relative">
                <i class="fa-solid fa-file-invoice"></i>
                <h3 class="mt-5 font-title text-32 text-white">Account Management</h3>
                <p class="mt-3 text-15 font-light">
                    eAccords eSignature content typically involves the administration and oversight of user accounts
                    within the eSignature platform.
                </p>
            </li>
            <li class="relative">
                <i class="fa-regular fa-copyright"></i>
                <h3 class="mt-5 font-title text-32 text-white">Branding</h3>
                <p class="mt-3 text-15 font-light">
                    Empower Your Brand with eAccords Esignature: Redefine Signing Experiences.
                </p>
            </li>
            <li class="relative">
                <i class="fa-solid fa-record-vinyl"></i>
                <h3 class="mt-5 font-title text-32 text-white">Audit Trail</h3>
                <p class="mt-3 text-15 font-light">
                    The Audit Trail feature in eAccords eSignature Content refers to a comprehensive log that
                    records
                    all actions taken.
                </p>
            </li>
            <li class="relative">
                <i class="fa-brands fa-slack"></i>
                <h3 class="mt-5 font-title text-32 text-white">Compliance</h3>
                <p class="mt-3 text-15 font-light">
                    eAccords eSignature, like any electronic signature solution, needs to comply with relevant laws
                    and
                    regulations.
                </p>
            </li>
        </ul>
    </div>
</div>



<div class="integration-section">
    <h2>Integrate with the Apps You Use Daily</h2>
    <div class="integration-items">
        <div class="service">
            <i class="fab fa-google-drive"></i>
            <h3>Google Drive</h3>
            <p>Seamlessly integrate with Google Drive to manage your documents from anywhere.</p>
        </div>
        <div class="service">
            <i class="fab fa-dropbox"></i>
            <h3>Dropbox</h3>
            <p>Access and manage your files through Dropbox with ease, enhancing your productivity.</p>
        </div>
    </div>
</div>




<app-clients></app-clients>

<div class="cta-container">
    <div class="cta-card">
        <div class="cta-card-header">
            <p class="cta-card-title">Seal the Deal with a Click</p>
            <p class="cta-card-description">
                Streamlining Digital Contracting, Agreement, Deal: From Request to Renewal with Ease
            </p>
        </div>
        <div class="cta-card-input-box">
            <input class="cta-card-input" type="email" placeholder="youremail@address.com" />
            <button class="cta-card-button">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.66669 16H25.3334" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M20 21.3333L25.3333 16" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M20 10.6667L25.3333 16" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
</div>